.container {
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 15px;
  margin-left: 35%;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.7);
  background-color: #11a64a
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: large;
}

span {
  font-weight: 800;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}